<body>
  <div id="root"></div>
  <script src="https://unpkg.com/react@16.12.0/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@16.12.0/umd/react-dom.development.js"></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  <script type="text/javascript">
    const helloElement = React.createElement("span", null, "hello");
    const worldElement = React.createElement("span", null, "world");
    const element = React.createElement(
      React.fragment,
      null,
      helloElement,
      worldElement
    );

    ReactDom.render(element, document.getElementById("root"));
  </script>
</body>
